{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Registration
{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group fal">
                <legend class="border-bottom mb-4">Registration Form</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="ghost-blue" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <span style="font-size: 1rem" class="fal"> Already Have An Account?<a class="ml-2" href="{% url 'login' %}">Sign In</a></span>
        </div>
    </div>
{% endblock content %}