{% extends "base.html" %}
{% block content %}
<br>
<br>
    <h4>A free data hosting and community forum.
        <br>
        <br> 
        This platform is built to upload and share anything you want.
        <br> 
        <br>
        With just a free account you gain unlimited access to our forum discussion board and unlimited upload storage of any file format.
        <br>
        <br>
        Less moderation rules apply, thus copyrighted content can be uploaded, to remove any content e-mail us.</h3>
{% endblock content %}