{% extends "base.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}
    
    <br>
    <center> 
    <h3 style="color:#ea2088" >| About |</h3><br>
        <p>This a completely free platform, where users can upload data, of any format and size. We also feature an in-built forum for our dedicated community.</p>
        <br><br>
    <h3 style="color:#ea2088" >| Privacy | </h3><br>
        <p>We respect your privacy, so we do not log any personal information like your IP Addresses, but only the information you give such as Username and E-mail address. Even your password is stored in an encrypted fashion, that even we can see your password nor any hacker in case of a data breach.</p>  
        <br><br>
    <h3 style="color:#ea2088" >| Contact | </h3><br>
        <p>In case of any complains, bug issues or ideas to add any feature, bring it to the attention of the Captains in <a href="#"> </p>
        <p>To remove any copyrighted content or illegal content contact any of the Captains immediately.</p>
        <br><br>
    <h3 style="color:#ea2088" >| Captains | </h3> <br>
        <a target="_blank" href="https://github.com/akashroshan135" >Akash Roshan</a><br>
        <a target="_blank" href="https://github.com/cyrilsl" >Cyril.S.L</a><br>
        <a target="_blank" href="https://github.com/vt618" >Varkey Thomas Varghese</a>
    <br><br>
    </center>

{% endblock content %}