{% load static %} <!-- Used to load css and other static data -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>

    
    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="{% static 'forum/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'forum/main.css' %}">
     
    <!--ParticlesJS-->>
    <script type="text/javascript" src="{% static 'forum/particles.js' %}"></script>
    
    <title>Unchained - {% block title %}Title Missing{% endblock %}</title>

</head>
<body>
        <div id="particles-js"></div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <header class="site-header">
                <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                    <div class="container">
                    <a class="navbar-brand titlefont mr-4" href="{% url 'home' %}">unchained</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
             
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'files-upload' %}">Upload</a>
                        {% if user.is_authenticated %}
                                    <a class="nav-item nav-link" href="{% url 'files-view' %}">Files List</a>
                        {% endif %}
                        <a class="nav-item nav-link" href="{% url 'forum-list' %}">Forum</a>
                        <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
            
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                        {% if user.is_authenticated %}
                            <div class="collapse navbar-collapse" id="navbarToggle">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-item nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}</a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                            <a class="dropdown-item" href="{% url 'profile' request.user %}">My account</a>
                                            {% if request.user.is_superuser %}
                                                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Page</a>
                                            {% endif %}
                                            <a class="dropdown-item" href="#">Change password</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                        </div>
                    </div>
                    </div>
                </nav>
                <div class="the-blur"></div>
                </header>
                <main role="main" class="container">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">         
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% block heading %}{% endblock %}
                    {% block content %}{% endblock %}
                </main>    
               
               
            
            
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="{% static 'forum/jquery-3.3.1.slim.min.js' %}"></script>
                <script src="{% static 'forum/popper.min.js' %}" ></script>
                <script src="{% static 'forum/bootstrap.min.js' %}" ></script>
             

  <!-- Optional JavaScript -->
  <script type="text/javascript">
  
  particlesJS('particles-js',{
  "particles": {
    "number": {
      "value": 160,
      "density": {
        "enable": true,
        "value_area": 800
      }
    },
    "color": {
      "value": "#ea2088"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 1,
      "random": true,
      "anim": {
        "enable": true,
        "speed": 1,
        "opacity_min": 0,
        "sync": false
      }
    },
    "size": {
      "value": 6,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 4,
        "size_min": 0.3,
        "sync": false
      }
    },
    "line_linked": {
      "enable": false,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 1,
      "direction": "none",
      "random": true,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 600
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": false,
        "mode": "bubble"
      },
      "onclick": {
        "enable": false,
        "mode": "bubble"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 400,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 250,
        "size": 0,
        "duration": 2,
        "opacity": 0,
        "speed": 3
      },
      "repulse": {
        "distance": 400,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});


  </script>

</body>
</html>