{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Upload
{% endblock %}

{% block content %}
<div class="container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_name">Name</label>
      <input type="text" class="form-control textinput" id="id_name" name="name">
    </div>
    <br>
    <div class="form-group">
      <label class="ghost-blue" for="id_data">Select a file to upload</label>
      <input type="file" class=" form-control" style="padding-bottom: 45px;" id="id_data" name="data">
    </div>
    <button type="submit" class="ghost-green">Upload</button>
  </form>
  <br><br><br>
  <p> <a href="{% url 'files-view' %}"><button class="ghost-pink">Views all uploads</button></a></p>
{% endblock content %}